<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbar">

    <header class="header-fijo">

        <h1 class="titulo-principal">
            Panel Vendedor
        </h1>

        <nav class="navbar">

            <div class="nav-container">

                <ul class="nav-center">

                    <li>
                        <a th:href="@{/vendedor/dashboard}">
                            Dashboard
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/productos}">
                            Productos
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/ventas}">
                            Ventas
                        </a>
                    </li>

                </ul>

                <ul class="nav-right">

                    <li>
                        <a th:href="@{/usuarios/logout}">
                            Cerrar sesión
                        </a>
                    </li>

                </ul>

            </div>

        </nav>

    </header>

</th:block>

</html>