<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="login-container">

  <div class="login-card">

    <h2>Iniciar sesión</h2>

    <form th:action="@{/usuarios/login}" method="post">

      <input type="email"
             name="correo"
             placeholder="Ingrese su correo"
             required>

      <input type="password"
             name="contrasena"
             placeholder="Ingrese su contraseña"
             required>

      <button type="submit">
        Iniciar sesión
      </button>

    </form>

    <p style="text-align:center;margin-top:15px;">
      ¿No tienes cuenta?
      <a th:href="@{/usuarios/registro}">
        Crear cuenta
      </a>
    </p>

  </div>

</div>

</body>
</html>