<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crear cuenta</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h2>Crear cuenta</h2>

        <form th:action="@{/usuarios}" method="post">

            <input type="text"
                   name="nombre"
                   placeholder="Nombre"
                   required>

            <input type="email"
                   name="correo"
                   placeholder="Correo"
                   required>

            <input type="password"
                   name="contrasena"
                   placeholder="Contraseña"
                   required>

            <button type="submit">
                Crear Cuenta
            </button>

        </form>

        <p style="text-align:center;margin-top:15px;">
            ¿Ya tienes cuenta?
            <a th:href="@{/usuarios/login}">
                Iniciar sesión
            </a>
        </p>

    </div>

</div>

</body>
</html>